html, body, #__next {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #f7f7f8;
  color: #111827;
}
a { color: #0366d6; text-decoration: none; }